h1 {
    font-size: 34px;
    font-weight: bold;
}

video {
    width: 100%;
}

.span12 {
    margin-top: 30px;
}

#video .page-header {
    margin-top: -50px;
}

#mainNote {
    padding-bottom: 30px;
}